<launch>

	<param name="robot_description" command="$(find xacro)/xacro --inorder '$(find omre_description)/urdf/robot.urdf.xacro'"/>
	<node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui"/>
	<node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen"/>
	<node name = "run_rviz" pkg ="rviz" type="rviz"/>

</launch>
